:root {
    color-scheme: dark;
}

html {
    position:relative;
    font-family: 'Nunito', 'sans-serif';
    font-optical-sizing: auto;
    font-style: normal;
}

html h1, html h2, html h3, p, span, a {
    color: #252525;
}

a {
    text-decoration:none;
}

body {
    background-color:rgb(219, 219, 219);
    margin:0;
}

#divHeader {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #333333;
}

#divHeader h1 {
    margin: 0;
    margin-right: 80px;
    text-align: center;
    font-weight: 100;
    color:white;
    font-family: 'Pacifico', cursive;
}

#divHeader svg {
    margin-top: 5px;
    margin-left: 40px;
    float:left;
    width:40px;
    fill:white;
}

#navHeaderBaixo {
    text-align:end;
    padding-bottom: 5px;
    box-shadow: 0px 8px 5px #a8a8a8;
    background-color: #242424;
}

#navHeaderBaixo span {
    color:white;
}

#divHeaderLinks {
    margin-right:30px;
}

#divCantoUm {
    box-sizing: border-box;
    float:left;
    width: calc(25% - 40px);
    height:3400px;
    margin-top: 60px;
    margin-left:40px;
    box-shadow: 8px 5px 5px #a8a8a8;
}

#divAvaliacoes div {
    text-align:center;
    margin-bottom: 50px;
}

#divAvaliacoes h2 {
    margin:0;
}

#divAvaliacoes p {
    margin-top:0;
}

#divAvaliacoes img {
    border-style:solid;
    border-color: #242424;
    border-radius: 50%;
}

#divAvaliacoes svg {
    fill: #242424;
}

#divCantoDois {
    text-align: center;
    box-sizing: border-box;
    float:left;
    width: calc(50% - 120px);
    margin-top: 60px;
    margin-left:60px;
    margin-right: 60px;
}

.divSeparacao {
    margin-bottom:70px;
}

#divCantoDois h1 {
    text-align: center;
}

#divIntroducao img {
    width:500px;
    border-style:solid;
    border-color:#252525;
    border-radius:40px;
}

#divContato p{
    margin:0;
}

#divNossaEquipe div {
    margin-bottom:60px;
}

#divNossaEquipe img {
    margin-right:20px;
    margin-left:20px;
    border-style:solid;
    border-color:#252525;
    border-radius:20px;
}

#divNossaEquipe p {
    text-align:start;
}

.imgEsqNossaEquipe {
    float:left;
}

.imgDirNossaEquipe {
    float:right;
}

#divParceiros {
    margin-top:100px;
}

#divParceiros img {
    border-style:solid;
    border-color:#252525;
    border-radius:20px;
    width:150px;
    height:150px;
}

#divCardapio img {
    border-style:solid;
    border-color:#252525;
    border-radius:20px;
    width:450px;
}

#divCantoTres {
    text-align:center;
    box-sizing: border-box;
    float:left;
    padding-left:30px;
    margin-top: 60px;
    width: calc(25% - 40px);
    height:3400px;
    margin-right: 40px;
    box-shadow: -8px 5px 5px #a8a8a8;
}

#divCantoTres img {
    border-style:solid;
    border-color:#252525;
    border-radius:20px;
    width:250px;
}

#divFooter {
    text-align: center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top:100%;
    background-color: #333333;
}

#divFooter span {
    color:white;
}

#divFooterBaixo {
    text-align: center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#242424;
}

@media only screen and (max-width: 1200px) {

    #divCantoUm {
        height:3780px;
    }

    #divCantoUm img {
        width: 60%;
    }

    #divCantoTres {
        height:3780px;
    }

    #divIntroducao img {
        width:80%;
    }

    #divNossaEquipe img {
        width:50%;
    }

    #divNossaEquipe img {
        width: 70%;
    }

    #divNossaEquipe p {
        text-align:center;
    }
    
    .imgEsqNossaEquipe {
        float:none;
    }
    
    .imgDirNossaEquipe {
        float:none;
    }

    #divParceiros img {
        width:30%;
        height:30%;
    }

    #divParceiros span {
        font-size:60%;
    }

    #divCardapio img {
        width:100%;
    }

    #divCantoTres {
        margin-bottom:150px;
    }

    #divCantoTres img {
        width:90%;
    }

}

@media only screen and (max-width: 790px) {

    #navHeaderBaixo {
        text-align:center;
    }

    #divHeaderLinks {
        margin:0;
    }

    #h1Sumario {
        display:none;
        visibility:hidden;
    }

    #navSumario {
        display:none;
        visibility:hidden;
    }

    #divCantoUm {
        text-align: center;
        box-shadow:none;
        margin-left:auto;
        margin-right:auto;
        height:100%;
        width:40%;
        float:none;
    }

    #divCantoDois {
        margin-left:auto;
        margin-right:auto;
        box-shadow:none;
        width:60%;
        float:none;
    }

    #divIntroducao img {
        width:100%;
    }

    #divParceiros span {
        visibility:hidden;
        display:none;
    }

    #divCardapio img {
        width:100%;
    }

    #divCantoTres {
        padding:0;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:200px;
        box-shadow:none;
        height: 100%;
        width:60%;
        float:none;
    }
}

@media only screen and (max-width: 520px) {

    html h1, h2 {
        font-size:23px;
    }

    html p {
        font-size:15px;
    }

    #divHeader svg {
        visibility:hidden;
        display:none;
    }

    #divHeader h1 {
        font-size:20px;
        margin:0;
    }

    #divCantoUm {
        width:70%;
    }

    #divCantoDois {
        width:70%;
    }

    #divParceiros img {
        width:90%;
    }

    #divCantoTres img {
        width:100%;
    }
}
